form {
  width: 100%;
}

video::-webkit-media-controls-timeline {
  outline: none;
}

video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background-color: gray;
}
